CockpitPublisher/UploadClient/Service References/CockpitWCFServices/TableDataUploadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CockpitWSFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CockpitWSFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1331/TableDataUploadService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TableInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompressedTableData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompressedTableSchema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MDGuids" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableInfo" nillable="true" type="tns:TableInfo" />
</xs:schema>